## Loading Data

In [1]:
import pandas as pd
import numpy as np

In [45]:
data = pd.read_csv('data/raw_survey_data_2022.csv',header=None)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Columns: 351 entries, 0 to 350
dtypes: object(351)
memory usage: 4.3+ MB

In [47]:
data

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
0,Index,Start Date,End Date,I am satisfied with my overall experience at Columbia.,I am satisfied with the following with respect to my overall experience at Columbia.,NaN,NaN,NaN,NaN,NaN,...,NaN,Do you identify yourself as part of the LGBTQ community?,Please identify your ethnic background.,NaN,Country of Origin,NaN,What is your current age?,Is English your first language?,Was English the medium of instruction in your primary or secondary school?,Let us know about other important matters that are not covered by this survey
1,NaN,NaN,NaN,Response,Academics,Mental health,Physical health,Professional development,Social life,Career Placement Team,...,Prefer to self-describe,Response,Response,Other (please specify),Response,Other (please specify),Response,Response,Response,Open-Ended Response
2,0,4/6/22 7:37,4/7/22 2:57,Agree,Strongly agree,Agree,Agree,Agree,Agree,Agree,...,NaN,No,Multiracial background,NaN,Jamaica (NA),NaN,less than 18,Yes,Yes,NaN
3,1,4/6/22 0:03,4/7/22 0:13,Agree,Agree,Agree,Agree,Agree,Agree,Agree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,4/6/22 23:42,4/7/22 0:03,Disagree,Disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,...,NaN,No,South Asian,NaN,India (AS),NaN,21-23,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,1587,3/23/22 12:01,3/23/22 12:15,Agree,Neither agree nor disagree,Agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,...,NaN,No,South Asian,NaN,United States (NA),NaN,24-26,Yes,Yes,NaN
1590,1588,3/23/22 12:01,3/23/22 12:13,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Agree,Agree,...,NaN,No,South Asian,NaN,India (AS),NaN,27-29,No,Yes,NaN
1591,1589,3/23/22 12:01,3/23/22 12:12,Agree,Agree,Agree,Agree,Agree,Agree,Agree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,1590,3/23/22 12:01,3/23/22 12:11,Strongly disagree,Strongly disagree,Strongly disagree,Strongly disagree,Strongly disagree,Strongly disagree,Strongly disagree,...,NaN,I prefer not to answer,South Asian,NaN,India (AS),NaN,24-26,Yes,Yes,NaN
1593,1591,3/23/22 12:04,3/23/22 12:05,Neither agree or disagree,Neither agree nor disagree,Disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating Question Table

In [36]:
# create the table of the first 2 rows to see the questions and the columns they locate
Q=data.iloc[:2,:].T
Q.columns=['Question','Sub_Question']
#Q['location']=[ lambda x: x.index*(x.Question.isna()==False)]
Q['location']=np.where(Q.Question.isna()==False, Q.Question.index, "False")

In [39]:
pd.options.display.max_colwidth=120

In [40]:
Q[Q.location!="False"]

,Question,Sub_Question,location
0,Index,NaN,0
1,Start Date,NaN,1
2,End Date,NaN,2
3,I am satisfied with my overall experience at Columbia.,Response,3
4,I am satisfied with the following with respect to my overall experience at Columbia.,Academics,4
...,...,...,...
345,Country of Origin,Response,345
347,What is your current age?,Response,347
348,Is English your first language?,Response,348
349,Was English the medium of instruction in your primary or secondary school?,Response,349
350,Let us know about other important matters that are not covered by this survey,Open-Ended Response,350

In [44]:
Q.to_csv("output/Questions-22.csv", index=True)