## Loading Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/raw_survey_data_2022.csv',header=None)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Columns: 351 entries, 0 to 350
dtypes: object(351)
memory usage: 4.3+ MB

In [4]:
# with sub-questions as header
df = pd.read_csv('data/raw_survey_data_2022.csv',header=1)

## Data cleaning if necessary

In [5]:
from datetime import datetime

In [6]:
# Check if there are invalid responses 
# 1. give the same answer over 25 times
# 2. response time less than 200s

data1=df.iloc[:,1] #DataFrame with time
data2=df.iloc[:,2] #DataFrame with data
data3=df.iloc[:,3:]
data["time"]=data2.apply(lambda x: datetime.strptime(x, '%m/%d/%y %H:%M'))-data1.apply(lambda x: datetime.strptime(x, '%m/%d/%y %H:%M'))
#(data1.iloc[:,1].values.astype('datetime64[D]')-data1.iloc[:,0].values.astype('datetime64[D]'))

                                                                                                    
index_time= data["time"].apply(lambda x: x/np.timedelta64(1, 's'))
index_time

result = data3.T.apply(pd.value_counts).fillna(0)
result1 = result.apply(pd.value_counts).fillna(0)
data3['chaxun']=((result.max()<25)&(result1.iloc[0,:]<4))|(index_time>200)

cleaned_data=data3[data3.chaxun==True]
cleaned_data.shape

(1485, 349)

##  Basic Statistics

In [7]:
##calculating the counts of each question

In [8]:
counts=[]
for i in range(len(cleaned_data.columns)-1):
    counts.append(dict(cleaned_data.iloc[:,i].value_counts()))

## Creating Question Table

In [9]:
# create the table of the first 2 rows to see the questions and the columns they locate
Q=data.iloc[:2,3:-1].T
Q.columns=['Question','Sub_Question']
#Q['location']=[ lambda x: x.index*(x.Question.isna()==False)]
Q['location']=np.where(Q.Question.isna()==False, Q.Question.index, "False")

In [10]:
Q['counts']=counts

In [11]:
Q.to_csv("output/Questions-22.csv", index=True)

In [12]:
pd.options.display.max_colwidth=120

In [13]:
Q

,Question,Sub_Question,location,counts
3,I am satisfied with my overall experience at Columbia.,Response,3,"{'Agree': 834, 'Neither agree or disagree': 256, 'Strongly agree': 209, 'Disagree': 141, 'Strongly disagree': 45}"
4,I am satisfied with the following with respect to my overall experience at Columbia.,Academics,4,"{'Agree': 794, 'Strongly agree': 348, 'Neither agree nor disagree': 190, 'Disagree': 122, 'Strongly disagree': 31}"
5,NaN,Mental health,False,"{'Agree': 588, 'Neither agree nor disagree': 377, 'Strongly agree': 224, 'Disagree': 212, 'Strongly disagree': 84}"
6,NaN,Physical health,False,"{'Agree': 618, 'Neither agree nor disagree': 378, 'Strongly agree': 249, 'Disagree': 179, 'Strongly disagree': 61}"
7,NaN,Professional development,False,"{'Agree': 669, 'Neither agree nor disagree': 320, 'Strongly agree': 290, 'Disagree': 155, 'Strongly disagree': 51}"
...,...,...,...,...
346,NaN,Other (please specify),False,"{'Hong Kong': 2, 'Reunion Island': 1, 'Iran and india ': 1, 'Citizen of USA and another country': 1, ''': 1, 'Parent..."
347,What is your current age?,Response,347,"{'24-26': 558, '21-23': 549, '27-29': 139, '30-32': 53, 'I prefer not to answer': 35, '33-35': 11, '36 and older': 5..."
348,Is English your first language?,Response,348,"{'No': 872, 'Yes': 444, 'I prefer not to answer': 36}"
349,Was English the medium of instruction in your primary or secondary school?,Response,349,"{'Yes': 902, 'No': 408, 'I prefer not to answer': 42}"
350,Let us know about other important matters that are not covered by this survey,Open-Ended Response,350,"{'None': 2, 'No': 2, 'After every ""break"" we're immediately swamped with assignments and submissions. If I don't get..."